* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

h1 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* header */

header {
  padding-top: 64px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dee2e6;
}

main {
  padding: 40px 0 40px;
}

.container {
  margin: 0 auto;
  max-width: 688px;
}

.header__subtitle {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
}

.form {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__p {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #818182;
}

.form__placeholder input {
  padding: 9px 361px 8px 17px;
  max-width: 452px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #abb5be;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form__select select {
  padding: 9px 110px 9px 15px;
  max-width: 216px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #abb5be;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

/* main */

.wrapper__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  display: block;
  background-color: #ffffff;
}

.card__items {
  padding: 25px;
  background-color: #ffffff;
}

.card__items--h3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  color: #152536;
}

.card__items--p {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #152536;
}

@media (max-width: 768px) {
  main {
    padding-top: 50px;
  }
}

@media (max-width: 425px) {
  body {
    padding: 0 40px;
  }

  img {
    max-width: 320px;
  }

  h1 {
    text-align: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
  }

  .container {
    max-width: 320px;
  }

  .header__subtitle {
    margin-top: 14px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }

  .form {
    display: block;
  }

  .wrapper__cards {
    display: block;
  }

  .card {
    margin-bottom: 20px;
  }

  .form__placeholder input {
    max-width: 320px;
    padding: 9px 232px 8px 12px;
  }

  .form__select select {
    max-width: 320px;
    padding: 9px 200px 8px 30px;
  }

  .card__items {
  }
}
